<!DOCTYPE>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header ui item"><i class="code icon"></i>Blog Site</div>
                <a href="/" class="ui item">Home</a>
                <% if(currentUser) { %>
                    <a href="/<%= currentUser._id %>/blogs" class="io item">My Posts</a>
                    <a href="/<%= currentUser._id %>/blogs/new" class="item">New Post</a>
                <% } %>
                <div class="right menu">
                    <% if(currentUser) { %>
                        <p class="ui item">Welcome back, <%= currentUser.firstName %></p>
                        <a href="/logout" class="ui item">Logout</a>
                    <% } else  {%>
                        <a href="/login" class="ui item">Login</a>    
                    <% } %>
                </div>
            </div>
        </div>
        <% if(error && error.length > 0) { %>
            <div class="ui warning message">
                <i class="close icon"></i>
                <div class="header">
                    <%= error %>
                </div>
            </div>       
            
        <% } %>
        
        <% if(success && success.length > 0) { %>
            <div class="ui warning message">
                <i class="close icon"></i>
                <div class="header">
                    <%= success %>
                </div>
            </div> 
        <% } %>
   
    